.card-bg{
    background-image: url('https://i.ibb.co/TKZjJpG/6938839-3409297.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.body-bg{
    background-image: url('https://i.ibb.co/Fz2XG4N/abstract-digital-grid-black-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

